<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="#" class="navbar-brand text-center">New Trip</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main" style="height: 1px;">
            <ul class="nav navbar-nav">

                <li><a href="#login" data-target="f360-login" title="Login">Login</a></li>
                <li><a href="#trips" data-target="f360-trips" title="Trips">Trips</a></li>
                <li><a href="#fish" data-target="f360-fish" title="Fish">Fish</a></li>

            </ul>
        </div>
    </div>
</div>

<input class="form-control" ng-model="newFish.id" placeholder="Id" />
<input class="form-control" ng-model="newFish.name" placeholder="Name" />
<input class="form-control" ng-model="newFish.weight" placeholder="Weight" />
<input class="form-control" ng-model="newFish.length" placeholder="Length" />
<input class="form-control" ng-model="newFish.species" placeholder="Species" />
<input class="form-control" ng-model="newFish.caughtDate" placeholder="Caught" type="date" />
<input class="form-control" ng-model="newFish.tripId" placeholder="Trip ID" />
<input class="form-control" ng-model="newFish.notes" placeholder="Notes" />
<input class="form-control" ng-model="newFish.caughtTime" placeholder="Time" />
<input class="form-control" ng-model="newFish.girth" placeholder="Girth" />
<input class="form-control" ng-model="newFish.spot" placeholder="Spot" />
<input class="form-control" ng-model="newFish.presentation" placeholder="Presentation" />
<input class="form-control" ng-model="newFish.depth" placeholder="Depth" />
<input class="form-control" ng-model="newFish.clarity" placeholder="Clarity" />
<input class="form-control" ng-model="newFish.temperature" placeholder="Temperature" />
